.button {
  @mixin button;

  border: 2px solid transparent;
  border-radius: var(--border-radius-control);
  color: var(--color-black);
  font-size: var(--font-size-xs);
  line-height: 36px;
  padding: 0 20px;
}

.button_has-icon-left {
  align-items: center;
  padding-left: 8px;
}

.button_size_s {
  height: 28px;
}

.button_size_m {
  height: 36px;
}

.button_view_default {
  background-color: var(--color-background-control);

  &:hover {
    background-color: var(--color-background-control-hovered);
  }

  &:focus {
    background-color: var(--color-background-control);
    border-color: var(--color-border-control-focused);
  }
}

.button_view_action {
  background-color: var(--color-background-action);

  &:hover {
    background-color: var(--color-background-action-hovered);
  }

  &:focus {
    background-color: var(--color-background-action);
    border-color: var(--color-border-action-focused);
  }
}

.button_progress,
.button_disabled {
  background-color: var(--color-background-disabled);
  color: var(--color-text-disabled);
  cursor: not-allowed;
  pointer-events: none;
}

.button__icon {
  align-items: center;
  display: flex;
  height: 28px;
  justify-content: center;
  margin-right: 2px;
  width: 25px;
}
