.layout {
  background-color: var(--color-white);
  display: grid;
  grid-template-rows: var(--header-height) 1fr var(--footer-height-mobile);
  min-height: 100vh;

  @mixin min-tablet {
    grid-template-rows: var(--header-height) 1fr var(--footer-height-desktop);
  }
}

.layout__container {
  @mixin layout-container;
}
