@import '../../../../node_modules/normalize.css';

:root {
  --footer-height-mobile: 68px;
  --footer-height-desktop: 32px;
  --header-height: 50px;
}

body {
  color: var(--color-black);
  font-family: var(--font);
  font-weight: var(--font-weight-normal);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.25px;
}

p {
  letter-spacing: 0.06px;
  margin: 0;
}
