@import 'https://yastatic.net/s3/frontend/yandex-font/v0.0.2/browser.css';

:root {
  --font: 'YS Text', arial, sans-serif;
  --font-size-xs: 13px;
  --font-size-s: 15px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}
