.footer {
  align-items: center;
  background-color: var(--color-blue-grey-50);
  bottom: 0;
  display: flex;
  height: var(--footer-height-mobile);
  left: 0;
  position: fixed;
  width: 100%;

  @mixin min-tablet {
    height: var(--footer-height-desktop);
  }
}

.footer__container {
  @mixin layout-container;

  @mixin min-tablet {
    display: flex;
    justify-content: space-between;
  }
}

.footer__nav {
  margin-bottom: 8px;

  @mixin min-tablet {
    margin-bottom: 0;
  }
}

.footer__link {
  color: var(--color-blue-grey-500);
  display: inline-flex;
  font-size: var(--font-size-xs);
  line-height: 18px;
  text-decoration: none;
  transition: color 0.2s ease-out;

  & + & {
    margin-left: 12px;
  }

  &:hover {
    color: var(--color-red-600);
  }
}
